{% extends '::base.html.twig' %}
{% block body %}
<h1>{% trans %}Search{% endtrans %}</h1>
<div class="class="row">
    {% include 'SiteProductBundle:Product:list.html.twig' with {'entities': entities} %} 
</div>
{% endblock %}
