{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Product Media list{% endtrans %}</h1>

<table class="records_list table table-striped">
    <thead>
        {% if product is not empty %}
        <tr>
            <td colspan="3">
                <a href="{{ path('product_media_new', {'category': category, 'product': product}) }}" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create a new entry{% endtrans %}</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans %}Image{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% render controller("CoreMediaBundle:Image:display", {'id': entity.id, 'dir': 'thumb'}) %}</td>
            <td>{{ entity.title }}</td>
            <td>
                <a href="{{ path('product_media_edit', { 'id': entity.id , 'category': category, 'product': product}) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
