core_common:        
    emails:
        default: "%site_email%"
        contact: "%site_email%"
        claim:  "%site_email%"
        order:  "%site_email%"
        
core_category:
    menu: [Content]
    
core_media:
    images:
        thumb:
          name: thumb
          width: 160
          height: 120
          method: resize
          fill: [255, 255, 255]
        small:
          name: small
          width: 240
          height: 180
          method: resize
          fill: [255, 255, 255]
        large:
          name: large
          width: 800
          height: 600
          method: resize
          fill: [255, 255, 255]

core_product:
    images:
        - thumb
        - small
        - large
        
core_content:
    images:
        - thumb
        - small
        - large