#category: core_category:
#category:     menu: [Content]
#category: 
#common: core_common:        
#common:     emails:
#common:         default: "%site_email%"
#common:         contact: "%site_email%"
#common:         claim:  "%site_email%"
#common:         order:  "%site_email%"
#common: 
#content: core_content:
#content:     images:
#content:         - thumb
#content:         - small
#content:         - large    
#media: core_media:
#media:     images:
#media:         thumb:
#media:           name: thumb
#media:           width: 160
#media:           height: 120
#media:           method: resize
#media:           fill: [255, 255, 255]
#media:         small:
#media:           name: small
#media:           width: 240
#media:           height: 180
#media:           method: resize
#media:           fill: [255, 255, 255]
#media:         large:
#media:           name: large
#media:           width: 800
#media:           height: 600
#media:           method: resize
#media:           fill: [255, 255, 255]
#media: 
#product: core_product:
#product:     images:
#product:         - thumb
#product:         - small
#product:         - large
#product:         