parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     
    database_user:     
    database_password: 

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            sk
    secret:            GenerateSecretGoodOne

    site_title: MiniShop
    site_url:   www.minishop.loc
    site_email: info@minishop.loc
    site_phone: ''

    #knp_paginator.template.pagination: MopaBootstrapBundle:Pagination:sliding.html.twig
    knp_paginator.template.pagination: CoreCommonBundle:Pagination:sliding.html.twig
    #knp_menu.renderer.twig.template: MopaBootstrapBundle:Menu:menu.html.twig

