{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Price Group list{% endtrans %}</h1>

<table class="records_list table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Default{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Rate{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <a href="{{ path('pricegroup_new') }}" class="btn btn-primary">
                <i class="icon-plus"></i> {% trans %}Create a new entry{% endtrans %}
                </a>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.default %}<i class="icon-ok"></i>{% endif %}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.rate }}</td>
            <td>
                <a href="{{ path('pricegroup_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-edit"></i> {% trans %}Edit{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}