<div class="cart-info">
  <a href="{{path('cart')}}" class="cart"><i class="icon-shopping-cart"></i> {% trans %}Cart{% endtrans %}</a>
  <strong>{% trans %}Count{% endtrans %}:</strong><span>{{cart.itemsCount}}</span>
</div>