<?php

use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
            new Symfony\Bundle\FrameworkBundle\FrameworkBundle(),
            new Symfony\Bundle\SecurityBundle\SecurityBundle(),
            new Symfony\Bundle\TwigBundle\TwigBundle(),
            new Symfony\Bundle\MonologBundle\MonologBundle(),
            new Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle(),
            new Symfony\Bundle\AsseticBundle\AsseticBundle(),
            new Doctrine\Bundle\DoctrineBundle\DoctrineBundle(),
            new Sensio\Bundle\FrameworkExtraBundle\SensioFrameworkExtraBundle(),
            new JMS\AopBundle\JMSAopBundle(),
            new JMS\DiExtraBundle\JMSDiExtraBundle($this),
            new JMS\SecurityExtraBundle\JMSSecurityExtraBundle(),
            
            new Mopa\Bundle\BootstrapBundle\MopaBootstrapBundle(),
            new Knp\Bundle\PaginatorBundle\KnpPaginatorBundle(), 
            new Craue\FormFlowBundle\CraueFormFlowBundle(),
            new WhiteOctober\TCPDFBundle\WhiteOctoberTCPDFBundle(),

            //attribute: new Core\AttributeBundle\CoreAttributeBundle(),
            //banner: new Core\BannerBundle\CoreBannerBundle(),
            //category: new Core\CategoryBundle\CoreCategoryBundle(),
            //common: new Core\CommonBundle\CoreCommonBundle(),
            //content: new Core\ContentBundle\CoreContentBundle(),
            //marketing: new Core\MarketingBundle\CoreMarketingBundle(),
            //media: new Core\MediaBundle\CoreMediaBundle(),
            //newsletter: new Core\NewsletterBundle\CoreNewsletterBundle(),
            //price: new Core\PriceBundle\CorePriceBundle(),
            //product: new Core\ProductBundle\CoreProductBundle(),
            //shop: new Core\ShopBundle\CoreShopBundle(),
            //shopmarketing: new Core\ShopMarketingBundle\CoreShopMarketingBundle(),
            //user: new Core\UserBundle\CoreUserBundle(),
            //usertext: new Core\UserTextBundle\CoreUserTextBundle(),
            //vendor: new Core\VendorBundle\CoreVendorBundle(),
            
            //banner: new Site\BannerBundle\SiteBannerBundle(),
            //category: new Site\CategoryBundle\SiteCategoryBundle(),
            //content: new Site\ContentBundle\SiteContentBundle(),
            //common: new Site\DefaultBundle\SiteDefaultBundle(),
            //product: new Site\ProductBundle\SiteProductBundle(),
            //marketing: new Site\MarketingBundle\SiteMarketingBundle(),
            //newsletter: new Site\NewsletterBundle\SiteNewsletterBundle(),
            //shop: new Site\ShopBundle\SiteShopBundle(),
            //user: new Site\UserBundle\SiteUserBundle(),
            //vendor: new Site\VendorBundle\SiteVendorBundle(),  
            
        );

        if (in_array($this->getEnvironment(), array('dev', 'test'))) {
            $bundles[] = new Symfony\Bundle\WebProfilerBundle\WebProfilerBundle();
            $bundles[] = new Sensio\Bundle\DistributionBundle\SensioDistributionBundle();
            $bundles[] = new Sensio\Bundle\GeneratorBundle\SensioGeneratorBundle();
        }

        return $bundles;
    }

    public function registerContainerConfiguration(LoaderInterface $loader)
    {
        $loader->load(__DIR__.'/config/config_'.$this->getEnvironment().'.yml');
    }
}
