<div class="breadcrumbs">
<span class="home"><a href="{{ path('category_homepage')}}">{% trans%}Home{% endtrans %}</a></span>
{% if end is not empty %}/ <span>{{end | trans }}</span>{% endif %}
</div>