{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Category list{% endtrans %}</h1>
<ul class="nav nav-tabs">
  {% for mid in menus %}
    <li {% if menu == loop.index0 %}class="active" {% endif %}><a href={{ path('category_menu', {'menu': loop.index0 }) }}>{{ mid }}</a></li>
  {% endfor %}
</ul>
{% include 'CoreCategoryBundle:Category:Tree/tree.html.twig' with {'tree': tree} %}
<a href="{{ path('category_new', {'menu': menu}) }}" class="btn btn-primary"><i class="icon-plus"></i> {% trans %}Create a new top category{% endtrans %} </a>
{% endblock %}
