<form action="{{path('coupon_add')}}" method="post">
    {{form_label(form.code)}}
    <div class="input-append">
        {{form_widget(form.code)}}
        <button type="submit" class="btn"><i class="icon-ok icon-white"></i></button>
    </div>
    {{form_rest(form)}}
</form>
