{% if content %}
<div id="content">
  <h1>{% if content.title is not empty%}{{content.title}}{% else %}{{title}}{% endif %}</h1>
  <div class="content-shortdescription">
      {{content.shortDescription|raw}}
  </div>
  <div class="content-longdescription">
      {{content.longDescription|raw}}
  </div>
  {% if content.media is not empty %}
  <div class="content-gallery gallery">
      <div class="row">
          {% for media in content.media %}
          <div class="col-sm-4 col-md-4 col-lg-4">
          {% render controller("CoreMediaBundle:Image:display", {'id': media.id, 'dir': 'thumb', 'link_path':'large'}) %}
          </div>
          {% endfor %}
      </div>
  </div>   
  {% endif %} 
</div>
{% endif %}