{% extends '::base.html.twig' %}
{% block body %}
<h1>{% trans %}Password{% endtrans %}</h1>
<form action="{{ path("SiteUserBundle_changepassword") }}" method="post" id="form-login">
    <div>
    {{ form_widget(form) }}
    </div>
    <div>
    <button type="submit" class="btn btn-inverse" name="submit" value="Change"><i class="icon-ok icon-white"></i> {% trans %}Change{% endtrans %}</button>
    </div>
</form>
{% endblock %}
