{% extends '::base.html.twig' %}

{% block body %}
<div class="box">
    <h1>{% trans %}Password recovery{% endtrans %}</h1>
    <form action="{{ path('SiteUserBundle_password_recovery') }}" method="post">
        <legend>{% trans %}If you forgot your password, type in your email address and we will send you instructions for password recovery.{% endtrans %}</legend>
                {{ form_widget(form) }}
        <button type="submit" class="btn btn-inverse">{% trans %}general.submit{% endtrans %}</button>
    </form>
</div>
{% endblock %}